launchDir = "$proj/genome/nf"
workDir = "$NXF_CACHE/work/genome"

includeConfig "$NXF_HOME/configs/nextflow.config"
process.conda = "$NXF_CONDA_CACHEDIR/genome"

params {
  pick = 'lists/Sv.txt'
  design = 'genomes.tsv'
  outdir = "$proj/genome/data"
}

process {
  withName:i_star {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 150.GB + 1.GB * task.attempt, 'memory' ) }
    time = { check_max( 5.h + 10.h * task.attempt, 'time' ) }
  }
  withName:i_hisat2 {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 250.GB + 1.GB * task.attempt, 'memory' ) }
    time = { check_max( 10.h + 10.h * task.attempt, 'time' ) }
  }
  withName:i_salmon {
    cpus = { check_max( 4, 'cpus' ) }
    memory = { check_max( 30.GB + 1.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 5.h * task.attempt, 'time' ) }
  }
  withName:i_snpeff {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 30.GB + 1.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h + 5.h * task.attempt, 'time' ) }
  }
  withName:i_bismark {
    cpus = { check_max( 6, 'cpus' ) }
    memory = { check_max( 30.GB + 1.GB * task.attempt, 'memory' ) }
    time = { check_max( 20.h + 5.h * task.attempt, 'time' ) }
  }
  withName:i_tandup {
    cpus = { check_max( 8, 'cpus' ) }
    memory = { check_max( 30.GB + 1.GB * task.attempt, 'memory' ) }
    time = { check_max( 10.h + 5.h * task.attempt, 'time' ) }
  }
  withName:i_rcfg {
    cpus = { check_max( 1, 'cpus' ) }
    memory = { check_max( 20.GB + 1.GB * task.attempt, 'memory' ) }
    time = { check_max( 2.h + 1.h * task.attempt, 'time' ) }
  }
}

def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}